{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	    <div class="row divider blue">
		    <div class="col-md-12"></div>
	    </div>
	    <div class="row banner main">
		    <div class="col-md-1"></div>
		    <div class="col-md-11 padding-none">
			    <h1>Item Catalog</h1>
		    </div>
        </div>

        <div class = 'flash'>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                    <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        </div>
        {% if 'username' in session %}
            <!-- If logged in show 'Add Item' div -->
            <div class="row padding-top padding-bottom">
                <div class="col-md-1"></div>
                <div class="col-md-10 padding-none">
                    <a href="{{url_for('addItem')}}">
                        <button class="btn btn-default" id="new-restaurant">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Item
                        </button>
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        {% endif %}

        <div class="panel panel-info col-md-4">
            <h2>Categories</h2>
            {% for category in categories %}
                <div class="category-list">
                    <a href="{{url_for('showItems', category=category.name)}}">{{category.name}}</a>
                </div>
            {% endfor %}
        </div>
        <div class="panel panel-warning col-md-8">
            <h2>Latest Items</h2>
            {% for r in recents %}
                <a href="{{url_for('showItem', category=r.cat_name, item=r.title)}}">
                    {{r.title}}
                </a>
                <p class="item-cat">({{r.cat_name}})</p>
            {% endfor %}
        </div>
{% endblock %}